body{
    background-color: #ffe3c2;
    padding: 2rem;
}

/* Chrome, Safari, Edge, Opera /
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/ Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#project-title{
    text-align: center;
}

#project-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

#diabetes-form-area{
    width: fit-content;
    padding: 1rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
}
#my-data-table, #my-result-table{
    border-spacing: 10px;
}
#my-data-table .title-data,
#my-result-table .title-data{
    text-align: right;
    font-weight: bold;
}
#my-data-table .input-data input,
#my-result-table .input-data input{
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    width: 50px;
}
#my-data-table .input-data input:focus-visible,
#my-result-table .input-data input:focus-visible{
    border: 1px solid red;
    outline: none;
}
#my-data-table .submit-button-box{
    text-align: right;
}
#my-data-table .submit-button-box input{
    padding: 8px 13px;
    border-radius: 3px;
    border: 0px;
    background-color: #000;
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#my-data-table .submit-button-box input:hover{
    background-color: #696969;
}

#result-images-area{
    width: fit-content;
    padding: 1rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
}

#result-images-area #data-entry{
    display: flex;
    gap: 1rem;
}
#result-text{
    font-size: 18px;
}